<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
  <h1>Predict Insurance Cost</h1>
  
 <img src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="Health Insurance" width="300" height="200">

 <br>
 <br>
 <br>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Age" placeholder="Age" required="required" />
      
      <label for="Sex">Sex:</label>
      <select name="Sex" id="Sex">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>

      <label for="Smoker">Smoker:</label>
      <select name="Smoker" id="Smoker">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
      <br>
      <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Insurance Cost</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
